:root {
  --base-font-size: 1rem;
  --text-lg: calc(1.0625 * var(--base-font-size));
  --heading-one: calc(2.75 * var(--base-font-size));
}

h1,
h2 {
  margin: 0;
  font-weight: 700;
}

h1 {
  font-size: var(--heading-one);
  line-height: 52px;
}
