.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  align-items: baseline;
}

.flex-col {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.flex-row {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
}

.absolute {
  position: absolute;
}

.relative {
  position: relative;
}

.justify-between {
  justify-content: space-between;
}

.justify-evenlt {
  justify-content: space-evenly;
}

.items-center {
  align-items: center;
}

.ml-1 {
  margin-left: 5px;
}
